@model Entities.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmacion</title>
</head>
<body>
    <h3>Are you sure you want to save this?</h3>
    @using (Html.BeginForm("Action", "Home"))
    {
        <fieldset>
            @Html.HiddenFor(model => model.Nombre)
            @Html.HiddenFor(model => model.Apellido)
            @Html.HiddenFor(model => model.FechaNac)
            @Html.HiddenFor(model => model.Direccion)
            @Html.HiddenFor(model => model.Telefono)
            @Html.HiddenFor(model => model.id)

            <legend>Persona</legend>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Nombre)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Apellido)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Apellido)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.FechaNac)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FechaNac)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Direccion)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Direccion)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Telefono)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Telefono)
            </div>
            <input type="submit" name="correcto" value="correcto" />
            <input type="submit" name="modificar" value="modificar" />
        </fieldset>
    }
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id=Model.id })*@ |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>